<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongyuan.distributeFrame.demo.dao.RoleMapper">

    <resultMap id="baseResultMap" type="com.tongyuan.distributeFrame.demo.entity.Request">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="BIGINT"/>
        <result column="strategy" property="strategy" jdbcType="VARCHAR"/>
        <result column="current_role" property="currentRole" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="baseColumnList">
        id,status,strategy,current_role
    </sql>

    <select id="queryById" parameterType="java.lang.Long" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM request
        WHERE id=#{id}
    </select>

    <update id="setStatus">
        UPDATE request
        SET status=#{status,jdbcType=VARCHAR}
        WHERE id=#{id,jdbcType=BIGINT}
    </update>

    <update id="setCurrentNode">
        UPDATE request
        SET current_node=#{current,jdbcType=VARCHAR}
        WHERE id=#{id,jdbcType=BIGINT}
    </update>

</mapper>