<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongyuan.distributeFrame.demo.dao.UserMapper">
    <resultMap id="baseResultMap" type="com.tongyuan.distributeFrame.demo.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseColumnList">
        id,username,age,password
    </sql>

    <select id="queryByName" resultMap="baseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="baseColumnList"/>
        FROM user
        WHERE username LIKE concat('%',#{str,jdbcType=VARCHAR},'%')
    </select>

    <!--<insert id="add" parameterType="com.tongyuan.distributeFrame.demo.entity.User" useGeneratedKeys="true" keyProperty="id">-->
        <!--INSERT INTO user-->
        <!--(age,username,password)-->
        <!--VALUES-->
        <!--(#{age},#{username},#{password})-->
    <!--</insert>-->

    <select id="queryByUsername" resultMap="baseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="baseColumnList"/>
        FROM user
        WHERE username = #{username}
    </select>

</mapper>